*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center */
}


.heading{
    text-align: center;
    font-variant: small-caps;
    margin: 2rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center
}

form{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

form input{
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    border: none;
}

button, input[type="submit"]{
    cursor: pointer
}

button{
    padding: 1rem 2rem;
    height: 100%;
    border-radius: 0.7rem;
    border: none;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70vw;
    align-items: left;
    gap: 2rem;
    padding-top: 2rem;
}

.task-card{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.task-card div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 0.5rem
}

.task-card h1{
    font-size: 1.6rem;
    font-weight: 300;
}

.task-card p{
    font-size: 0.8rem;
    color: grey
}

.completed{
    text-decoration: line-through;
    color: grey
}

.delete{
    background-color: rgb(227, 50, 50);
    color: white;
    margin-left: 0.5rem;
}